@import '~bootstrap/scss/bootstrap.scss';
$background: #DCD7C9;
$text: #2C3639;
$nav-background: #3F4E4F;
$accent: #A27B5C;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background !important;
  color: $text !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: $accent !important;
  text-decoration: none !important;
}

.btn-text {
  color: $accent !important;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: $nav-background;
  justify-content: space-around;
}

.header > a {
  color: $background !important;
}

.header > a:hover {
  color: $accent !important;
}

.user-icon {
  height: 50%;
}